
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <br><br> <h2 class="warning">Success</h2>

                <p style="font-size:20px;color:#5C5C5C;">
                   Already registered!
                </p>

                <br><br>
            </div>

        </div>
    </div>
</body>
</html>
